.options {
  padding: 1rem 0;
}

.options > * {
  margin-bottom: 2rem;
}

.options-heading {
  font-size: 2rem;
  font-style: italic;
  font-weight: 600;
  margin-top: 0;
}

.options-total-guesses-container {
  margin-bottom: 1rem;
}

.options-total-guesses-label,
.options-max-word-length-label {
  margin-right: 1rem;
}

.options-back-home-link {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
