.App {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.App-header {
  margin-bottom: 4rem;
  height: 3rem;
}

h1 {
  font-size: 4rem;
  margin: 0;
  color: #5f5f5f;
}
