.main {
  display: flex;
  flex-direction: column;
}

.main-container {
  height: calc(100% - 6rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-top-items-container {
  margin-bottom: 3rem;
}

.main-inputs-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 60vw;
  align-items: center;
}

.main-inputs-container-label,
.main-inputs-container-input-field {
  margin-bottom: 1rem;
}

.main-inputs-container-input-field {
  width: 50%;
}

.main-failed-letters-container {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.main-new-word-button {
  margin-bottom: 1rem;
}

.main-options-link {
  display: block;
}

@media (min-width: 750px) {
  .main-inputs-container {
    flex-direction: row;
  }

  .main-inputs-container-input-field {
    width: auto;
  }

  .main-inputs-container-label,
  .main-inputs-container-input-field {
    margin-bottom: 0;
    margin-right: 1rem;
  }
}
