.word-line {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 60vw;
  margin: 0 auto 4rem;
  height: 2rem;
  font-size: 2rem;
}

.word-line-letter {
  color: #036575;
}
