/* global general styles */
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  cursor: pointer;
}

/* themes */
.light {
  background-color: #fff;
  color: #000;
}

.dark {
  background-color: #222;
  color: #fff;
}

/* global classes */

/* the  principal component of a page, just below the header.*/
.core-component > div {
  height: calc(100vh - 8rem);
}

.utility-button {
  border: 2px solid #036575;
  border-radius: 6px;
  background-color: silver;
  padding: 0.25rem;
  font-size: 1rem;
}
